body {
    font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif' ;

}

h1 {
    font-size: 15px;
}

p.primerparrafo {
    font-size: 8px;
    font-style: italic;
    border: 1px dotted rgb(255,145,255);
}

#tercerparrafo {
    background-color: rgb(49,129,102);
    margin-top: 40px;
    font-size: 10px;
}